body {
	font-family: cursive;
}

h1 {
	text-align: center;
	font-weight: bold;
}

table {
	empty-cells: hide;
	table-layout: auto;
	border-color: black;
	background-color: #D4D9D7;
	text-align: center;
}

a {
	color: black;
	text-decoration: none;
	text-align: center;
}

section {
	background-color: #3498db;
	color: white;
	max-width: 500px;
	padding: 15px;
	margin: 20px auto;
	border: 2px solid #2980b9;
	border-radius: 10px;
}