# Sistema operativo
.DS_Store
Thumbs.db

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*
bin/
out/
target/
build/

# Logs y temporales
*.log
*.tmp
*.swp

# Configuración sensible
.env
.env.*
application.properties
application.yml

# MySQL
*.sql
*.dump

# Frontend builds
dist/

# Multimedia y archivos pesados
*.mp4
*.mkv
*.avi
*.mov
*.wmv
*.mp3
*.wav
*.zip
*.rar
*.7z
*.tar
*.gz
*.iso
*.bak
*.old
