body {
	background-color: #ffeacc;
	font-family: arial;
}

h1 {
	color: #965500;
	text-transform: uppercase;
	font-size: 22px;
}

p.intro {
	color: #ff9715;
}

.impar {
	font-size: 28px;
	background-color: #ffccea;
}

.par {
	font-size: 28px;
	background-color: #ffffff;
}

p {
	font-size: 18px;
}