body {
  background-color: #d3d3d3;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  background-color: black;
  color: white;
  text-align: right;
  font-size: 20px;
  padding: 5px;
  margin: 0 0 10px 0;
}

.fecha {
  background-color: #808080;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  width: 200px;
  margin: 0 auto;
  border-radius: 0 20px 0 20px;
  box-shadow: #808080 10px 10px 10px;
  position: relative;
}

