body {
  background-color: #fff6ed;
  font-family: cursive;
}

h1 {
  width: fit-content;
  margin: 0 auto;
  background-color: #fdb274;
  text-align: center;
  border: 3px solid #f96516;
  border-radius: 20px;
  padding: 1% 3%;
  color: #431007;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 1%;
}

h2 {
  width: fit-content;
  margin: 0 auto;
  background-color: #fdb274;
  text-align: center;
  border: 3px solid #f96516;
  border-radius: 20px;
  padding: 4px 16px;
  color: #431007;
  font-size: 25px;
  margin-bottom: 1%;
  text-transform: uppercase;
}

h3 {
  margin-bottom: 1%;
  text-align: center;
}

article {
  width: fit-content;
  margin: 0 auto;
  background-color: #fdb274;
  border: 3px solid #f96516;
  border-radius: 20px;
  padding: 10px 10px;
  color: #431007;
  font-size: 18px;
  margin-bottom: 1%;
}

hr {
  border: none;
  margin-bottom: 1%;
}

a:not(.enlace-normal) {
  display: inline-block;
  background-color: #74bffd;
  border: 3px solid #2276ee;
  border-radius: 20px;
  padding: 4px 10px;
  color: #162a55;
  font-weight: bold;
  text-decoration: none;
}

.enlace-normal {
  text-decoration: none;
}

nav {
  text-align: center;
}

table {
  width: fit-content;
  margin: 0 auto;
  background-color: #fdb274;
  border: 3px solid #f96516;
  border-radius: 20px;
  padding: 4px 10px;
  color: #431007;
  margin-bottom: 1%;
  border-spacing: 10px;
  text-align: center;
}

.tabla-interna {
  border: none;
}

.tabla-interna th,
.tabla-interna tr,
.tabla-interna td {
  background-color: #fb873c;
  border: 3px solid #c2360c;
  border-radius: 15px;
  padding: 4px 10px;
}

figcaption {
  font-size: 12px;
}

blockquote {
  font-style: italic;
}

form {
  width: fit-content;
  margin: 0 auto;
  background-color: #fdb274;
  border: 3px solid #f96516;
  border-radius: 20px;
  padding: 10px 10px;
  color: #431007;
  font-size: 18px;
  margin-bottom: 1%;
}

label {
}
