* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: cursive;
}

header {
	background-color: #333333;
	color: white;
	display: flex;
	min-height: 10vh;
	justify-content: space-between;
	padding: 1em;
}

header nav ul {
	display: flex;
	list-style-type: none;
	gap: 2em;
}

header nav li {
	background: white;
	border-radius: 2em;
	transition: all 0.5s linear;
}

header nav li:hover {
	background: #a1a1a1;
	transition: all 0.5s linear;
}

header a {
	color: black;
	text-decoration: none;
	display: inline-block;
	padding: 1em;
}

main {
	min-height: 80vh;
	display: flex;
	background-color: white;
	margin: 0.5em;
	justify-content: space-between;
}

footer {
	background-color: #333333;
	color: white;
	display: flex;
	min-height: 10vh;
	justify-content: space-between;
	padding: 1em;
}

main .transiciones, .transformaciones {
	border: 0.15em solid #d1d1d1;
	background-color: #eeeeee;
	padding: 1em;
	flex-basis: 25%;
	margin: 0.5em;
}

main .centro {
	flex-basis: 50%;
}

main .filtros {
	border: 0.15em solid #d1d1d1;
	background-color: #f9f9f9;
	min-height: 60vh;
	margin: 0.5em;
}

main .animaciones {
	border: 0.15em solid #d1d1d1;
	background-color: #f9f9f9;
	min-height: 20vh;
	margin: 0.5em;
}

.box1 {
	width: 100%;
	height: 10em;
	background: #333333;
	transition: all 1s linear 0.1s;
	border-radius: 2em;
	margin-top: 1em;
}

.box1:hover {
	background: #a1a1a1;
	transition: all 1s linear 0.1s;
}

.box2 {
	width: 100%;
	height: 10em;
	background: #333333;
	transition: all 1s linear 0.1s;
	border-radius: 2em;
	margin-top: 1em;
}

.box2:hover {
	background: #a1a1a1;
	height: 15em;
	transition: all 1s linear 0.1s;
}

.box3 {
	width: 100%;
	height: 10em;
	background: #333333;
	transition: all 1s linear 0.1s;
	border-radius: 2em;
	margin-top: 1em;
}

.box3:hover {
	background: #a1a1a1;
	height: 15em;
	transition: all 1s linear 0.1s;
	box-shadow: 0.5em 0.5em 0.5em #555;
}