body {
	font: 24px Helvetica;
	background-color: #999;
}

#main {
	min-height: 800px;
	margin: 0;
	padding: 0;
}

#main article {
	margin: 4px;
	padding: 5px;
	border: 1px solid #cccc33;
	border-radius: 7pt;
	background: #dddd88;
}

#main nav {
	margin: 4px;
	padding: 5px;
	border: 1px solid #8888bb;
	border-radius: 7pt;
	background: #ccccff;
}

#main aside {
	margin: 4px;
	padding: 5px;
	border: 1px solid #8888bb;
	border-radius: 7pt;
	background: #ccccff;
}

header, footer {
	margin: 4px;
	padding: 5px;
	min-height: 100px;
	border: 1px solid #eebb55;
	border-radius: 7pt;
	background: #ffeebb;
}