body {
	font: 24px Helvetica;
	background-color: #999;
}

#main {
	min-height: 800px;
	margin: 0;
	padding: 0;
	display: flex;
}

#main article {
	margin: 4px;
	padding: 5px;
	border: 1px solid #cccc33;
	border-radius: 7pt;
	background: #dddd88;
	flex-grow: 3;
	flex-basis: 60%;
	order: 2;
}

#main nav {
	margin: 4px;
	padding: 5px;
	border: 1px solid #8888bb;
	border-radius: 7pt;
	background: #ccccff;
	flex-grow: 1;
	flex-basis: 20%;
	order: 1;
}

#main aside {
	margin: 4px;
	padding: 5px;
	border: 1px solid #8888bb;
	border-radius: 7pt;
	background: #ccccff;
	flex-grow: 1;
	flex-basis: 20%;
	order: 3;
}

header, footer {
	margin: 4px;
	padding: 5px;
	min-height: 100px;
	border: 1px solid #eebb55;
	border-radius: 7pt;
	background: #ffeebb;
}

@media all and (max-width: 640px) {
	#main{
		flex-flow: column;
	}
	
	#main nav, aside, header, footer {
		min-height: 50px;
		min-width: 50px;
	}
	
	#main aside {
		display: none;
	}
}