.box {
	background-color: red;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwfGB6dUnr2_mIK2bbLG3JM0IWyfATg0efwQ&s);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 20px 26px;
	
	height: 340px;
	width: 340px;
}

.box2 {
	background-image: url(https://www.teleadhesivo.com/es/img/cirmu021-png/folder/products-detalle-png/vinilos-decorativos-luna-llena.png), url(https://www.shutterstock.com/image-vector/cityscape-city-buildings-night-nighttime-600nw-2495953405.jpg);
	background-size: 100px, cover;
	background-repeat: no-repeat;
	background-position: 80% 15%, 0 0;
	
	/*
	background:
    url("https://www.teleadhesivo.com/es/img/cirmu021-png/folder/products-detalle-png/vinilos-decorativos-luna-llena.png") 
        80% 15% / 100px no-repeat,
    url("https://www.shutterstock.com/image-vector/cityscape-city-buildings-night-nighttime-600nw-2495953405.jpg")
        0 0 / cover no-repeat;
	*/

	height: 400px;
	width: 800px;
}