@font-face {
	font-family: "VastShadow";
	src: url("../fonts/VastShadow-Regular.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Lilex:ital,wght@0,100..700;1,100..700&family=Monsieur+La+Doulaise&display=swap');

body {
	background-color: #fff6ed;
	color: #431007;
}

h1 {
	font-family: "VastShadow", monospace, "Fira Code";
	font-size: 58px;
	line-height: 20px;
	text-align: center;
}

p.intro {
	margin-left: 25%;
	margin-right: 25%;
	font-family: monospace, "VastShadow", "Fira Code";
	line-height: 20px;
	text-align: center;
}

cite {
	text-decoration: underline;
}

p.latin {
	margin: 1% 0 1% 0;
	font-family: "Fira Code", monospace, "VastShadow";
	font-weight: 400;
	font-style: normal;
	font-size: 18px
}

p.espanol {
	margin: 1% 0 1% 50%;
	font-family: monospace, "VastShadow", "Fira Code";
	color: #162a55;
	font-size: 14px;
	letter-spacing: 2px;
	text-align: right;
}