body {
  font-family: "Arial", sans-serif;
}

#nombre {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.profesion {
  color: #ff0000;
  font-family: "Times New Roman", Times, serif;
}

.contacto {
  color: darkred;
}

p {
  font-size: 15px;
  text-shadow: 1px 1px black;
}
