body {
  font-family: cursive;
  color: #0f2942;
  background-color: #f2f8fd;
}

h1 {
  text-align: center;
  font-weight: bold;
}

table {
  empty-cells: hide;
  table-layout: auto;
  border-color: #0f2942;
  text-align: center;
  margin: 0 auto;
  table-layout: auto;
}

th {
  border: 1px solid #0f2942;
  background-color: #8ac5ef;
  padding: 6px;
}

td {
  border: 1px solid #0f2942;
  background-color: #c1dff6;
}

.link {
  color: #0f2942;
  text-decoration: none;
}

section {
  background-color: #3498db;
  color: white;
  max-width: 500px;
  padding: 15px;
  margin: 20px auto;
  border: 2px solid #2980b9;
  border-radius: 10px;
  text-align: center;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  border: 8px solid #3498db;
  border-radius: 15px;
  background-color: #3498db;
  color: #0f2942;
  margin: 10px 0;
  box-sizing: border-box;
}

h2 {
  display: block;
  width: fit-content;
  border: 1px solid #8ac5ef;
  border-radius: 15px;
  background-color: #8ac5ef;
  color: #0f2942;
  text-align: center;
  padding: 2px 10px;
  margin: 10px auto;
}

video {
  display: block;
  margin: 0 auto;
}

footer {
  font-size: 10px;
  text-align: center;
}

.contenedor-titulo {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.texto-con-icono {
  display: flex;
  align-items: center;
  gap: 5px;
}

q {
  font-weight: bold;
}

abbr {
  text-decoration: underline;
  text-decoration-color: #8ac5ef;
  text-decoration-thickness: 4px;
}
